name: Hexo Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取源码
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. 安装 Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 3. 安装依赖
      - name: Install dependencies
        run: |
          npm install
          npm install -g hexo-cli

      # 4. 生成静态文件
      - name: Build Hexo
        run: |
          hexo clean
          hexo generate

      # 5. 部署到 GitHub Pages 仓库
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.HEXO_DEPLOY_TOKEN }}
          publish_dir: ./public
          external_repository: riiiccck/riiiccck.github.io
          publish_branch: main
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
          force_orphan: true
